PRIVATE_KEYSTORE_PATH=/data/sites/hfr/api/keys/wubuprivate.pfx
PUBLIC_KEYSTORE_PATH=/data/sites/hfr/api/keys/wubupublic.pfx
PRIVATE_KEYSTORE_PASSWORD=keypass
PRIVATE_KEY_ALIAS=PRIVATE_KEY_ALIAS
PUBLIC_KEY_ALIAS=PUBLIC_KEY_ALIAS
KEYSTORE_TYPE=PKCS12
PUBLIC_KEYSTORE_PASSWORD=PUBLIC_KEYSTORE_PASSWORD
SIGNATURE_ALGORITHM=SHA1withRSA
GEPG_CODE=Spcode
SP_CODE=SP19916
SUB_SP_CODE=1006
SUB_SP_GFS_CODE=1006
SYSTEM_ID=MOHZT006
GFS_CODE=140101
GFS_CODE2=140202
BILL_EXPIRE_DAYS=15
#API_URL=https://uat1.gepg.go.tz
API_URL=http://localhost:3005

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

FLYWAY_URL=jdbc:postgresql://localhost/hfr_db
FLYWAY_USER=postgres
FLYWAY_PASSWORD=secret

PORTAL_FACILITY_API="https://portal.maliasili.go.tz/api/v1/ttlb/tala-licenses-by-tin?api-key=abcabc&tin={tin}"
