# Docker DB Configurations
PGADMIN_DEFAULT_EMAIL=kizomanizo@gmail.com
PGADMIN_DEFAULT_PASSWORD=L337Pgadmin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=L337Postgres
POSTGRES_DB=zanhfr

# GePG Integration Configurations
PRIVATE_KEYSTORE_PATH=/app/zanhfr-gepg-keys/wubuprivate.pfx
PUBLIC_KEYSTORE_PATH=/app/zanhfr-gepg-keys/wubupublic.pfx
PRIVATE_KEYSTORE_PASSWORD=PutPasswordHere
PRIVATE_KEY_ALIAS=wubu
PUBLIC_KEY_ALIAS=wubu
KEYSTORE_TYPE=PKCS12
PUBLIC_KEYSTORE_PASSWORD=PutPasswordHere
SIGNATURE_ALGORITHM=SHA1withRSA
GEPG_CODE=SP19915
SP_CODE=SP19915
SUB_SP_CODE=1001
SUB_SP_GFS_CODE=1001
SYSTEM_ID=MOHZT001
GFS_CODE=140101
GFS_CODE2=140202
BILL_EXPIRE_DAYS=15
API_URL=https://uat1.gepg.go.tz
# API_URL=http://localhost:3005

# ASERT Configurations
DEFAULT_ZANHFR_ADMIN_PASSWORD=Z@nHfr2024
